
<p>
  <h2>Calendario citas previas (Demo).</h2>
<h3><b>Powered by</b></h3>
<img src="./images/thirdparty/languages.png" width="135px;" height="65px;" style="float:right;" title="...developed using HTML5+JS+CSS3 languages"/>
<a href="https://angularjs.org/"><img src="./images/thirdparty/angularjs.png" width="65px;" height="65px;" style="float:right;" title="...more about AngularJS"/></a>
<a href="http://redis.io/"><img src="./images/thirdparty/redis.png" width="65px;" height="65px;" style="float:right;" title="...more about Redis"/></a>
<a href="https://www.mongodb.org/"><img src="./images/thirdparty/mongodb.png" width="65px;" height="65px;" style="float:right;" title="...more about MongoDB"/></a>
<a href="https://www.docker.com/"><img src="./images/thirdparty/docker.png" width="75px;" height="65px;" style="float:right;" title="...more about Docker"/></a>
<h4>
  <li>Docker</li>
  <li>MongoDB + Redis</li>
  <li>AngularJS</li>
  <li>HTML5+CSS3+Javascript</li>
</h4>
</p>
